  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-size: 1.2em;
    background: #fff;
    color: #555;
  }
  p{
    padding: 0 0 20px 0;
    line-height: 1.7;
  }
input[type="text"], input[type="password"], input[type="search"]{
    color: #5d5d5d;
    width: 60%;
    padding: 8px;
}
input, textarea{
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
}
h1, h2{
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}
h2{
    font-size: 140%;
}
a, a:hover{
    outline: none;
    text-decoration: outline;
    color: #aeb002;
}
ul{
    margin: 2px 0 22px 17px;
}property
ul li{
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
}
.header{			
    background-color: #cc9900;
    height: 177px;
    font-size: 0.8em ;
    margin-left: 0px ;
    margin-right: 0px ;
    min-width: 900px;
}
.main, .logo, .menubar, .site_content, .footer{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 880px;
    padding-bottom: 40px;
}
.logo h1, .logo h2{
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 0 0 0 9px;
}
.logo_text h1, .logo_text h1 a{
    padding: 22px 0 0 0;
    color: #8b0000;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.logo_text h2{
font-size: 1em;
padding: 4px 0 0 0;
color: #8b0000;
}
.menubar{
    width: 900px;
    height: 46px;
}
ul.menu{
    float: right;
}
ul.menu li{
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}
ul.menu li a{
    font: normal 100% 'trebucher ms', sans-serif;
    display: block;
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #8b0000;
    text-decoration: none;
}
ul.menu li.selected a{
    color: #c3c3c3;
}
ul.menu li a:hover{
    color: #c3c3c3;
}
hr {
    border: solid 3px #f3f3f3;
}
.site_content{
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: white;
}
.sidebar_container{
    float: right;
    width: 224px;
}
.sidebar{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 2px #f2f2f2;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.btn{
    padding: 8px;
    background-color: white;
    cursor: pointer;
}
.sidebar h2{
    color: #136cb2;
}
.lbl_passreg{
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;
}
.sidebar ul{
    margin: 0;
}
.sidebar ul li{
    list-style-type: none;
    margin: 0 0 0 0;
}
.sidebar .rating_sidebar{
    float: right;
}
.content{
    text-align: left;
    width: 625px;
    padding: 0 0 0 5px;
    float: left;
}
.content a{
    text-decoration: none;
}
.films_block{
    margin-bottom: 5%;
}
.films_block img{
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 22%;
}
.into_film_page{
    margin-top: 2%;
    margin-bottom: 4%;
} 
.into_film_page.label{
    font-size: 1.2em;   
}
.into_film_page.value{
    font-size: 1em;
    color: #49945a;
    margin-right: 3%;
}
.description_film{
    margin-bottom: 15%;
}
.description_film img{
    float: left;
    margin-right: 2%;
    margin-radius: 5px;
    border: solid 5px #dad7d5;
    width: 22%;
}
.revievs{
    margin-bottom: 4%;
    font-size: 0.9em;
}
.revievs.revievs_name{
    background-color: #7268ad;
    color: white;
    padding: 1%;
}
.send{
    margin-bottom: 4%;
}
.send input[type="text"]. textarea{
    border: solid 1px #c3c3c3;
    margin-bottom: 2%;
}
.send input[type="text"]{
    width: 90%;
}
.send textarea{
    width: 650px;
    height: 200px;
}
.send input[type="text"]{
    background-color: #7268ad;
    padding: 3%;
    color: white;
    border-radius: 5px;
}
.footer{
    width: 100%;
    height: 100%;
    padding: 28px 0 5px 0;
    text-align: center;
    background-color: #cc9900;
    color: #8b0000;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}
.posts .post_contents{
    font-size: 0.8;
}
.footer a{
    color: #8b0000;
    text-decoration: none;
}
.footer a:hover{
    color: #c3c3c3;
    text-decoration: none;
}
.footer p{
    padding: 0 0 10px 0;
}